<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Banner</title>
<script type="text/javascript">
	myBanners = new Array("../welcometoengland/images/london_banner_1.png",
							"../welcometoengland/images/view_from_stpauls.png",
							"../welcometoengland/images/london_night.png");
	picCounter = 0;
	
	function changePic() {
		
		if(picCounter == myBanners.length) {
			
			picCounter = 0;
			
		}
		
		document.Banner.src = myBanners[picCounter];
		picCounter++;
		setTimeout("changePic()", 3000);
	}
	
	function changeURL() {
		
		switch(picCounter)
			{
				case 1:
					url = 'http://aviewoncities.com/london/stpaulscathedral.htm';
					break;
				case 2:
					url = 'http://www.facebook.com/OfficialLondonEve';
					break;
				case 3:
					url = 'http://www.harrods.com/content/the-store/visiting-the-store/';
					break;
				default:
					url = "";
					break;
			}
		
		
		window.location = url;
		document.banner.src = pictures(picCounter);
		
	}
		
			
</script>
</head>

<body onLoad="changePic()">
	<p style="text-align:center">
    	<a href="#" onClick="changeURL();"><img src="../welcometoengland/images/london_banner_1.png" name="Banner" id="banner"></a>
    </p>
</body>
</html>
