<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

<body>
	<div id="page"><!-- page: start -->
    	<div id="container"><!-- container: start -->
        	<div id="menu"><!-- menu: start -->
            text navigation
            </div><!-- menu: end -->
        </div><!-- container: end -->
        <div id="content"><!-- content: start -->
        	<div id="main"><!-- main: start -->
            main content
            </div><!-- main: end -->
            <div id="right"><!-- right: start-->
            sidebar content
            </div><!-- right: end -->
        </div><!-- content: end -->
        <div class="push"></div><!-- ends wrapper (created for sticky footer) -->
    </div><!-- page: end -->
    <div class="footer"><!-- footer: start -->
    footer content
    </div><!-- footer: end -->

</body>
</html>
