<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

<body>
	<div id="page"><!-- DIV page: start -->
    
    	<section id="container"><!-- SECTION container: start -->
        
        	<aside id="menu"><!-- ASIDE menu: start -->
            text navigation
            </aside><!-- ASIDE menu: end -->
            
        </section><!-- SECTION container: end -->
        
        <section id="content"><!-- SECTION content: start -->
        
        	<div id="main"><!-- DIV main: start -->
            main content
            </div><!-- DIV main: end -->
            
            <aside id="right"><!-- ASIDE right: start-->
            sidebar content
            </aside><!-- ASIDE right: end -->
            
        </section><!-- SECTION content: end -->
        
        <div class="push"></div><!-- DIV ends wrapper (created for sticky footer) -->
        
    </div><!-- DIV page: end -->
    
    <footer"><!-- FOOTER: start -->
    footer content
    </footer><!-- FOOTER: end -->

</body>
</html>
