<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<script type="text/javascript">

function displayName() {
	fName = "Andrew";
	document.write("My name is " + fName + ".");
}
</script>
</head>

<body>

<script type="text/javascript">
//fName = "Andrew";
//document.write("My name is " + fName + ".");
displayName();
</script>
<br />
<form name = "geek" action="#">
    <p>
        <input type="button" onClick="alert('Danger? This website is only for geeks!')" value="I am a geek!" />
    </p>
</form>
</body>
</html>
